<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="w-100">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nume </th>
      <td mat-cell *matCellDef="let element"> {{element.user?.name}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="donation_code">
      <th mat-header-cell *matHeaderCellDef> Codul de donare </th>
      <td mat-cell *matCellDef="let element"> {{element.donation_code}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Greutate </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>