<header>
  <nav class="navbar navbard-transparent navbar-expand-lg navbar-dark bg-dark m-0">
    <h1 class="text-center" href="#">Centru Transfuzii</h1>
    <a class="up btn btn-danger m-4 text-light p-4" (click)="uploadForm()">Upload</a>
    <a class="up btn btn-warning m-4 text-light p-4" (click)="logout()">Logout</a>
  </nav>


</header>
