h1 {
  font-size: 60px;
  line-height: 65px;
  letter-spacing: 1px;
  text-transform: none;
  margin-bottom: 0;
  display: inline-block;
  width: 100%;
  margin-top: 140px;
  font-size: 40px !important;
  text-transform: uppercase !important;
  padding-top: 40px !important;
  color:white;
  margin-top: 30px;
}

.navbar {
  flex-flow: column;
  background: none;
  background: url("/assets/img/inner-banner.jpg");
  height: 400px;
}

.up {
  width: 200px;
  border: solid 2px white;
  font-weight: bold;
  text-transform: uppercase;
}
