<div class="card mb-0">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <h5 class="title float-left">Uploadeaza raportul</h5>
        <div class="float-right">
          <a class="nav-link btn close-link" (click)="dismiss(false)">
            <fa-icon icon="times"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <dropzone class="dropzone-container" [config]="config" [message]="'Click aici pentru a incarca raportul'" (init)="onUploadInit($event)"
      (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></dropzone>
  </div>
  <div class="card-footer">
    <button class="btn btn-secondary" (click)="dismiss(true)">Inchide</button>
  </div>
</div>