.close-link {
  cursor: pointer;
}

.card-body {
  display: flex;
  flex-flow: column;
  min-height: 200px;

  dropzone {
    flex: 1;
    display: flex !important;
    flex-flow: column !important;

    .dropzone.dz-wrapper {
      flex: 1 !important;
    }
  }
}
