<div class=" login">
  <h3 class="login-heading mb-4">Bine ați venit!</h3>
  <form [formGroup]="loginForm" (ngSubmit)="!loading && submit()">
    <div class="form-label-group">
      <label for="inputEmail">Email</label>
      <input formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" type="email"
        id="inputEmail" class="form-control" placeholder="Email" required autofocus>
    </div>

    <div class="form-label-group">
      <label for="inputPassword">Parolă</label>
      <input formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" type="password"
        id="inputPassword" class="form-control" placeholder="Parolă" required>
    </div>
    <button class="btn btn-lg btn-danger btn-block btn-login text-uppercase font-weight-bold mt-4 mb-2" type="submit"
      [disabled]="loading">Autentificare</button>


    <div class="alert alert-secondary mt-4" role="alert">
      În caz că ați uitat numele de utilizator sau parola, vă rugăm, contactați nr. de tel: <strong>
        <a href="tel:0751111111">0751-111-111</a></strong>.
    </div>
  </form>
</div>