<div class="container-fluid p-0 m-0">
    <div class="row no-gutters">
        <div class="col the-content">
            <div class="container-fluid p-0 m-0">
                <div class="row no-gutters" *ngIf="loggedIn">
                    <div class="col">
                        <app-header></app-header>
                    </div>
                </div>
                <div class="row no-gutters">
                    <!-- <div class="col" *ngIf="loggedIn">
                        <app-sidebar></app-sidebar>
                    </div> -->
                    <div class="col">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>