/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ngx-toastr/toastr";

.card {
  border: 0;
  border-radius: 0.1875rem;
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);
  z-index: 3;

  .card-header {
    background: transparent;
    border: none;
    padding: 15px 25px;
    border-bottom: solid 2px #ebecf1;

    .title {
      text-transform: uppercase;
      font-size: 1.4rem;
      font-weight: normal;
      margin: 0;
      line-height: 40px;
      color: #2a5788;

      @media only screen and (max-width: 700px) {
        float: right;
        font-size: 24px;
        padding-left: 15px;

        fa-icon {
          display: none;
        }
      }
    }

    .menu {
      position: absolute;
      top: 15px;
      right: 15px;

      .btn {
        background-color: transparent;
        border-color: none;
        color: #2a5788;

        &:hover {
          background-color: #2a57871c;
        }
      }
    }

    &:first-child {
      border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    }
  }

  .card-footer {
    background: transparent;
    border: none;
    padding: 15px 25px;
    border-top: solid 2px #ebecf1;
  }

  .card-body {
    padding: 25px;
  }
}

// Headers
h5 {
  color: #2a5788;
  margin-bottom: 15px;
  line-height: 50px;
  text-transform: uppercase;
}

// FORM
button[disabled] {
  opacity: 0.7;
}

/* OVERWIRTE */

dropzone > .dropzone.dz-wrapper {
  flex: 1;
}

dropzone > .dropzone.dz-wrapper .dz-message {
  position: absolute !important;
  margin: 0 !important;
  border-radius: 0.3em !important;
  height: 100% !important;
  border: none !important;
  background: #ebecf1 !important;
}

.dropzone .dz-preview.dz-image-preview {
  background: transparent !important;
  margin: 12px !important;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 0.6em !important;
}

.dropzone .dz-preview .dz-image {
  border-radius: 0.6em !important;
  border: solid 4px #fff !important;
}

.dropzone .dz-preview .dz-details .dz-filename {
  display: none;
}
